<%- include("partials/home-header") -%>

<div id="alert">
<div class="alert alert-warning" role="alert">
    This email id is already registered with us. Please <a href="/login" class="alert-link">SIGN IN</a>
    to your account or <a href="/login" class="alert-link">SIGN UP</a> to create a new account.

  </div>
</div>

<%- include("partials/home-footer") -%>
