<%- include("partials/form-header") -%>

<div id="edit">
<div id="wrap">
  <div class="wrapper container">
    
    <form action="/editPost/<%= post._id %>?_method=PUT" method="POST">
      
      <div class="group">
        <input name="postTitle" value="<%= post.title %>"type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
        <label>Title</label>
      </div>
      <div class="group">
        <textarea name=postDescription type="textarea" rows="5" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
        <label>Description</label>
      </div>
      <div class="btn-box">
        <button id="post-button" class="btn btn-submit" type="submit">Edit</button>
        <button id="back-button" class="btn btn-cancel" type="button">Back</button>
      </div>
    </form>


<%- include("partials/form-footer") -%>